mat-card {
  margin: 10px;
  padding: 10px;
}


.card {

  max-width: 80%;
  margin-top: 2%;
}

.main-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.user-card {
  /*border: 2px solid #000;*/
  /*box-shadow: 5px 5px 10px 1px #000;*/
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  padding: 10px 30px;
  /*box-shadow: lightgray 4px 4px 20px;*/
}

.leftbutton{
  display: flex;
  flex-direction: row-reverse;
}
