<div class="container" *ngIf="isLoggedIn">

  <div class="user-card">
    <div class="card border-secondary mb-3"   >
      <div class="card-header text-center text-secondary"  > <strong>{{user.nom}} {{user.prenom}}</strong>
        <p class="card-text">

          <small class="text-muted" *ngIf="currentUser.roles=='ROLE_ADMIN'">Administrateur</small>
          <small class="text-muted" *ngIf="currentUser.roles=='ROLE_TECH'">Technicien</small>
          <small class="text-muted" *ngIf="currentUser.roles=='ROLE_USER'">Employé</small>

        </p>
      </div>
      <div class="card-body text-secondary" >
        <div class="table-responsive">
          <table class="table table-responsive-xl table-sm table-hover table-borderless">
            <tbody>
            <tr>
              <th>identifiant</th>
              <td >{{user.id}}</td>
            </tr>
            <tr>
              <th>nom d'utilisateur</th>
              <td >{{user.username}}</td>
            </tr>
            <tr>
              <th>Bureau</th>
              <td >{{user.bureau}}</td>
            </tr>
            <tr>
              <th>Tel</th>
              <td >{{user.tel}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td >{{user.mail}}</td>
            </tr>



            </tbody>
          </table>

        </div>
      </div>

      <div class="card-footer leftbutton border-secondary" >
        <button mat-icon-button (click)="openUpdate()" data-toggle="tooltip" data-placement="bottom" title="mettre à jour le profil"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="openPassword()" data-toggle="tooltip" data-placement="bottom" title="changer mot de passe"><mat-icon>password</mat-icon></button>
      </div>
    </div>

</div>


</div>

<div *ngIf="!isLoggedIn">
  <app-connexion-form></app-connexion-form>
</div>


