<div class="container" *ngIf="isLoggedIn">

  <div class="user-card">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{user.nom}} {{user.prenom}}</mat-card-title>
      <mat-card-subtitle>{{user.mail}}</mat-card-subtitle>
      <button mat-icon-button (click)="openUpdate()"><mat-icon>edit</mat-icon></button>
    </mat-card-header>
    <mat-card-content>
      <p>Nom d'utilisateur : {{user.username}}</p>
      <p>mot de passe : {{password}}</p>
      <p>Bureau: {{user.bureau}}</p>
      <p>Télephone: {{user.tel}}</p>
      <p>Mail: {{user.mail}}</p>
      <strong>Roles:</strong>
      <ul>
        <li *ngFor="let role of currentUser.roles">
          {{ role }}
        </li>
      </ul>
      <ul>

      </ul>
      <h2>identifiant {{user.id}}</h2>
    </mat-card-content>
  </mat-card>
</div>


</div>

<div *ngIf="!isLoggedIn">
  <app-connexion-form></app-connexion-form>
</div>


