<div class="container">

  <h1> Modifier le Rôle : </h1>

  <p> Rôle actuel de l'utilisateur</p>
  <ul>
    <li *ngFor="let role of roles">

      <small class="text-muted" *ngIf="role.name=='ROLE_ADMIN'">Administrateur</small>
      <small class="text-muted" *ngIf="role.name=='ROLE_TECH'">Technicien</small>
      <small class="text-muted" *ngIf="role.name=='ROLE_USER'">Employé</small>
    </li>
  </ul>

  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Rôle à choisir</mat-label>
        <mat-select matInput formControlName="role" required>
          <mat-option *ngIf="!isUser" value="user">Utilisateur</mat-option>
          <mat-option *ngIf="!isTech" value="tech">Technicien</mat-option>
          <mat-option *ngIf="!isAdmin" value="admin">Administrateur</mat-option>
        </mat-select>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>

    </div>
    <button mat-raised-button color="primary"><mat-icon>edit_note</mat-icon> Enregistrer</button>
  </form>
