<div class="container">

  <h1> <mat-icon>build</mat-icon>  Mettre à jour le Diagnostic  </h1>

  <form [formGroup]="form" (ngSubmit)="create(form)">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="5"
                  matInput placeholder="Description" formControlName="problem" required></textarea>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Enregistrer</button>
  </form>

</div>
