.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}

.value-text {

  text-align: center;
}

.title-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: grey;
}

.avatar-icon {
  margin: 15px;
  transform: scale(2);
  justify-content: center;
}

.duration {
  color: grey;
}

.difference-text {
  text-align: center;
  margin-top: 10px ;
}

.card-icon {

  justify-content: center;
}

.card-header {
  justify-content: center;
}


.mat-success {
  color: green;
}

.mat-amber{
  color : gold;
}

.mat-blue{
  color : dodgerblue;
}
