h2 {
  text-align: center;
  background-color: rgba(0, 170, 255, 0.22);
}




.incident-card {
  /*border: 2px solid #000;*/
  /*box-shadow: 5px 5px 10px 1px #000;*/
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto;
  padding: 10px 30px;
  /*box-shadow: lightgray 4px 4px 20px;*/
}


button {
  margin-right: 50px;
}

mat-card {
  margin: 20px auto;
}

mat-card-header {
  text-align: center;

}

mat-tab-group {
  align-items: center;
}

.b {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}


.example-button-row {
  display: table-cell;
}

.textcentrer {
  text-align: center;
}

p {
  margin : 5px;
}

.form-control
{
  font-size: 20px;
  font-weight: bold;
}
.input-group-text
{
  font-size: 20px;
}
