
<!--

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Alerte!</strong> Voulez vous supprimer le ticket?

  <button mat-icon-button (click)="delete()"> <mat-icon>delete</mat-icon></button>


</div>

<button mat-icon-button (click)="delete()"> <mat-icon>delete</mat-icon></button>
-->

<div class="alert alert-danger" role="alert">
  <h3 class="alert-heading"><strong>Attention!</strong></h3>
  <p>Voulez vous supprimer le ticket?</p>
  <hr>

</div>
<div class="leftbutton">
<button type="button" lass="btn btn-primary" (click)="delete()"><mat-icon>check</mat-icon> oui</button>
</div>
