<div class="container">

  <h1> Mettre à jours le profil </h1>

  <form [formGroup]="form" (ngSubmit)="create(form)">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Bureau</mat-label>
        <input matInput formControlName="bureau" required>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Telephone</mat-label>
        <input matInput formControlName="telephone" required>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="mail" required>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>
    </div>



    <button mat-raised-button color="primary">Créer</button>
  </form>
