<!-- <div class="container">
  <h1> Créer un Incident</h1>
<form #data="ngForm" (ngSubmit)="add(data)">

  <div class="form-group">
  <label for="titre">Titre</label>
  <input  #name="ngModel" required name="titre"  type="text" class="form-control" ngModel>
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Titre de l'incident requis</div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea  #name2="ngModel" required name="comment" id="description" cols="20" rows="5" class="form-control" ngModel></textarea>
    <div *ngIf="name2.touched && name2.invalid" class="alert alert-danger">Une description de l'incident requis</div>
  </div>
  <button class="brn btn-primary">Envoyer</button>
</form>
</div> -->

<div class="container">

  <h1> Créer un ticket </h1>

    <form [formGroup]="form" (ngSubmit)="create(form)">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Titre</mat-label>
        <input aria-describedby="titrelHelp" matInput formControlName="titre" required>
        <mat-error>Champs requis</mat-error>

      </mat-form-field>
      <small id="titrelHelp" class="form-text text-muted">Exemple: Installation de Office</small>

    </div>

<!--      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Demandeur</mat-label>
          <input matInput formControlName="createur" required>
          <mat-error>Champs requis</mat-error>
        </mat-form-field>
      </div> -->

      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Categorie</mat-label>

          <mat-select matInput formControlName="categorie" required>
            <mat-option value="Logiciel">Logiciel</mat-option>
            <mat-option value="Matériel">Matériel</mat-option>
            <mat-option value="Réseaux">Réseaux</mat-option>
          </mat-select>
          <mat-error>Champs requis</mat-error>
        </mat-form-field>
      </div>


    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Description</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="5"
                  matInput placeholder="Description" formControlName="description" required></textarea>
        <mat-error>Champs requis</mat-error>
      </mat-form-field>
    </div>
<div>
  <input type="file" name="fichier" accept="image/*, .pdf" multiple>
</div>

<p></p>
    <button mat-raised-button color="primary"><mat-icon>post_add</mat-icon> Créer un ticket</button>
    </form>
